* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

@keyframes move-esquerdo {
    0% {
        transform: translateX(calc(0vh));
    }

    100% {
        transform: translateX(calc(-100vh));
    }
}

@keyframes move-direito {
    0% {
        transform: translateX(calc(0vh));
    }

    100% {
        transform: translateX(calc(100vh));
    }
}

:root {
    font-size: 62.5%;

    --cor: 195;
    --color-base-white: #FFF;
    --color-base-background: hsl(196, 100%, 98%);
    --color-base-blue-100: hsl(var(--cor), 46%, 40%);
    --color-base-blue-300: hsl(var(--cor), 91%, 25%);
    --color-base-title: hsl(240, 6%, 13%);
    --color-base-font: hsl(240, 5%, 7%);
}

::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-base-blue-100);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-base-blue-300);
    border-radius: .8rem;
}

body,
nav,
input {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-blue-100);
    color: var(--color-base-font);
}

#blog {
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    height: 100vh;
}

#main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: min(144.0rem, 100%);
    margin: 0 auto;
}

main {
    background-color: var(--color-base-background);
}

.container,
.post-wrapper,
.sidebar-wrapper {
    padding: 1.6rem 3.2rem;
    width: min(144.0rem, 100%);
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    gap: 2.6rem;

}

header form {
    flex: 1;
}

label {
    width: .1rem;
    height: .1rem;
    overflow: hidden;
    position: absolute;
}

input {
    width: 100%;
    padding: 1.6rem;

    border: 0;
    border-radius: .4rem;

    background-color: rgba(255, 255, 255, 0.20);
}

input::placeholder {
    color: var(--color-base-background);
}

header img:nth-child(3) {
    width: 4.2rem;
    height: 4.2rem;

    object-fit: cover;

    border-radius: 50%;
}

.post-wrapper,
.sidebar-wrapper {
    margin: 4.4rem auto 4.0rem;

    animation-name: move-esquerdo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.sidebar-wrapper {
    animation-name: move-direito;
}


.avaliacao {
    display: flex;
    align-items: center;
    gap: 36.6rem;

    margin: 3.2rem auto 3.2rem;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.botoes button {
    border: 0;
    border-radius: 50%;

    padding: 1.2rem;

    background-color: var(--color-base-blue-300);

    transition: apper;
}

.botoes button:hover {
    background-color: var(--color-base-blue-100);
    transform: scale(1.1) rotate(-4deg);
}

.item figure {
    margin-top: 3.2rem;

    width: 38.4rem;


    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

.details span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

footer {
    text-align: center;
    padding: 1.6rem;

    font-weight: 600;

    color: var(--color-base-white);
}

@media (max-width: 1020px) {

    #blog {
        display: flex;
        align-content: center;
        flex-direction: column;

        margin: 0 auto;
    }

    #main-wrapper {
        display: flex;
        align-content: center;
        flex-direction: column;
    }

    .container,
    .sidebar-wrapper {
        padding: 1.2rem 2.8rem;

        margin: 0 auto;
    }

    .post-wrapper,
    .sidebar-wrapper {
        margin: 0;

        padding-bottom: 4.1rem;
    }

    .post-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        margin: 0 auto;
        padding: 1.2rem 0;
    }

    .post-wrapper img {
        width: min(100%, 43.4rem);
    }


    .avaliacao,
    .post-wrapper p{
        padding: 3.1rem 2.8rem 2.4rem;
        
        margin: 0 auto;
    }

    .avaliacao {
        padding-bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
    }
    
    .botoes {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }

    .botoes img {
        width: 1.6rem;
        height: 1.6rem;
    }

    footer {
        padding: 1.6rem;

        font-weight: 600;
        line-height: normal;
        font-style: normal;

        height: 4.6rem;
    }

}

@media (max-width: 430px) {

    #blog {
        display: flex;
        flex-direction: column;

        margin: 0 auto;
    }

    #main-wrapper {
        display: flex;
        flex-direction: column;
    }

    .container,
    .sidebar-wrapper {
        padding: 1.2rem 2.8rem;

        margin: 0 auto;
    }

    .post-wrapper,
    .sidebar-wrapper {
        margin: 0;

        padding-bottom: 4.1rem;
    }

    .post-wrapper {
        margin: 0 auto;
        padding: 1.2rem 0;
    }

    .post-wrapper img {
        width: min(100%, 43.4rem);
    }


    .avaliacao,
    .post-wrapper p{
        padding: 3.1rem 2.8rem 2.4rem;
        
        margin: 0 auto;
    }

    .avaliacao {
        padding-bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
    }
    
    .botoes {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }

    .botoes img {
        width: 1.6rem;
        height: 1.6rem;
    }

    footer {
        padding: 1.6rem;

        font-weight: 600;
        line-height: normal;
        font-style: normal;

        height: 4.6rem;
    }

}
